<div class="oneTechnic">
    <div class="thumbnail technic-card">
        <img class="" src="/images/technics/<%= technic.main_photo_location %>">


        <!--
        <div class="caption">
            <div class="model"><b><span class="mark_"><%= technic.name %></span> <span class="model_"><%= technic.model %></span></b></div>
            <div class="price"><i>Ціна:</i> <%= technic.price %> <%= technic.currency %></div>
            <% if(technic.country_producer) { %>
            <div class="amount"><i>Виробник:</i> <%= technic.country_producer%></div>
            <%}%>
            <div class="amount"><i>Кількість:</i> <%= technic.amount %></div>
            <div class="description"><i>Опис:</i> <%= technic.description %></div>

            !-->

        <div class="caption">
            <div class="model"><b><span class="mark_"><%= technic.name %></span> <span class="model_"><%= technic.model %></span></b></div>
            <div class="price"><i>Ціна</i> <%= technic.price %>
                <% if(technic.currency.toString() == "гривня") { %>
                    грн
                <%}%>

                <% if(technic.currency.toString() == "долар") { %>
                    $
                <%}%>

            </div>

        </div>
    </div>

</div>